<header class="site-header">
    <div class="container">
        {% include icon-udacity-logo.html %}
        <!-- <a class="site-header-title" href="{{ site.baseurl }}/">
        </a> -->
        <div class="site-header-author col-12-s col-6-ml">
            <h1>{{ site.author }}</h1>
            <p>{{ site.author_skill }}</p>
        </div>
        <nav class="main-nav col-12-ml">
            {% include icon-hamburger.html %}
            <div class="main-nav-trigger"> 
                {% for page in site.pages %}
                    {% if page.title %}
                    <a class="main-nav-link" href="{{ page.url }}">
                        {{ page.title }}
                    </a> 
                    {% endif %}
                {% endfor %}
            </div>
        </nav>
    </div>
    <hr>
    <div class="jumbotron"></div>
</header>