<header class="site-header">
    <div class="container">
        {% include icon-udacity-logo.html %}
        <!-- <a class="site-header-title" href="{{ site.baseurl }}/">
        </a> -->
        <div class="site-header-author col-12-s col-6-ml">
            <h1>{{ site.author }}</h1>
            <p>{{ site.author_skill }}</p>
        </div>
        <!-- <nav class="site-header-nav">
            {% include icon-hamburger.html %}
            <div class="trigger"> {% for page in site.pages %} {% if page.title %} <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ page.title }}</a> {% endif %} {% endfor %} </div>
        </nav> -->
    </div>
    <hr>
    <div class="jumbotron"></div>
</header>