.pages {
    &-heading {
        color: $grey-color;
        font: 400 26px Arial, san-serif;
        padding: 0 2%;
        margin: 20px 0 10px 0;
    }
    .page-list {
        text-align: center;
        color: $text-color;
        padding: 0;
        h2 {
            text-transform: uppercase; 
        }
        p {
            font: 400 12px Arial, san-serif;
        }
        &-img {
            @include responsive-img(50vw);
        }
        &-title {}
        &-link {}
        &-item {}
    }
}

@include media-query($medium-screen) {
    .page-list {
        &-img{
            height: auto !important;
        }
    }
}

