 /**
 * Posts
 */

    .post {
        &-header {
            margin-bottom: $spacing-unit;
        }

        &-title {
            text-align: center;
            font-size: $large-font-size;
            letter-spacing: -1px;
            line-height: 1;
            @include media-query($large-screen) {
                font-size: $large-font-size;
            }
        }
        &-content {
            margin: 5% 2%;
            margin-bottom: $spacing-unit;
            text-align: left;

            h2 {
                font-size: $medium-font-size;
                text-align: center;
                @include media-query($large-screen) {
                    font-size: 28px;
                }
            }

            h3 {
                font-size: $medium-font-size;
                text-align: center;
                @include media-query($large-screen) {
                    font-size: 22px;
                }
            }

            h4 {
                font-size: $small-font-size;
                text-align: center;
                @include media-query($large-screen) {
                    font-size: 18px;
                }
            }
        }
    }
