// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media only screen and (min-width: $device) {
        @content;
    }
}

@mixin responsive-img($img-height){
    max-width: 100%;
    height: $img-height;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin font-styles($size){
    font-family: "Quicksand", san-serif;
    @if $size == "small" {
        font-size: $small-font-size;
        font-weight: $font-thin;
    }
    @else if $size == "medium" {
        font-size: $medium-font-size;
        font-weight: $font-medium;
    }
    @else {
        font-size: $large-font-size;
        font-weight: $font-medium;
    }
}