// Our variables
$base-font-family: "Quicksand","Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$base-line-height: 1.5;

// Fonts
$small-font-size:  1em;
$medium-font-size: 1.5em;
$large-font-size: 2em;

$font-thin: 400;
$font-medium: 500;

$spacing-unit:     30px;

$text-color:       #2d3c49;
$background-color: #fff;
$brand-color:      #02b3e4;

$grey-color:       #7d97ad;
$grey-color-light: lighten($grey-color, 10%);
$grey-color-dark:  darken($grey-color, 25%);

$jumbotron-img: url(img/jumbotron.jpg);

// Width of the content area
$content-width:    50em; // 800px

// Breakpoints
$small-screen:          25em; // 400px
$medium-screen:          46.875em; // 750px
$large-screen:        62.5em; // 1000px
$large-hd-screen:       75em; // 1200px;