// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #2d3c49;
$background-color: #fff;
$brand-color:      #02b3e4;

$grey-color:       #7d97ad;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$jumbotron-img: url(http://localhost:4000/img/jumbotron.jpg);

// Width of the content area
$content-width:    50em; // 800px

$medium-screen:          37.5em; // 600px
$large-screen:        50em; // 800px