/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/*Based on ^, made some major changes*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    @extend %clearfix;
}

[class*="col-"] {
    margin: 0 1%;
    float: left;
    box-sizing: border-box;
    &:first-child {
        margin-left: 0;
    }
    &:last-child {
        margin-right: 0;
    }
}

.col-1-s {
    width: 4.66666666667%;
}

.col-2-s {
    width: 13.3333333333%;
}

.col-3-s {
    width: 22%;
}

.col-4-s {
    width: 30.6666666667%;
}

.col-5-s {
    width: 39.3333333333%;
}

.col-6-s {
    width: 49%;
}

.col-7-s {
    width: 56.6666666667%;
}

.col-8-s {
    width: 65.3333333333%;
}

.col-9-s {
    width: 74.0%;
}

.col-10-s {
    width: 82.6666666667%;
}

.col-11-s {
    width: 91.3333333333%;
}

.col-12-s {
    width: 100%;
}


/* Offsets */

.offset-col-1-s {
    margin-left: 8.66666666667%;
}

.offset-col-2-s {
    margin-left: 17.3333333333%;
}

.offset-col-3-s {
    margin-left: 26%;
}

.offset-col-4-s {
    margin-left: 34.6666666667%;
}

.offset-col-5-s {
    margin-left: 43.3333333333%;
}

.offset-col-6-s {
    margin-left: 52%;
}

.offset-col-7-s {
    margin-left: 60.6666666667%;
}

.offset-col-8-s {
    margin-left: 69.3333333333%;
}

.offset-col-9-s {
    margin-left: 78.0%;
}

.offset-col-10-s {
    margin-left: 86.6666666667%;
}

.offset-col-11-s {
    margin-left: 95.3333333333%;
}

@include media-query($medium-screen) {

    .col-1-ml {
        width: 4.66666666667%;
    }
    .col-2-ml {
        width: 13.3333333333%;
    }
    .col-3-ml {
        width: 22%;
    }
    .col-4-ml {
        width: 30.6666666667%;
    }
    .col-5-ml {
        width: 39.3333333333%;
    }
    .col-6-ml {
        width: 49%;
    }
    .col-7-ml {
        width: 56.6666666667%;
    }
    .col-8-ml {
        width: 65.3333333333%;
    }
    .col-9-ml {
        width: 74.0%;
    }
    .col-10-ml {
        width: 82.6666666667%;
    }
    .col-11-ml {
        width: 91.3333333333%;
    }
    .col-12-ml {
        width: 100%;
        margin-left: 0;
    }
}
